/*
    AUTHORS: Nate Patanjo, Nick Marquis
    FILE: style.css
    ASSIGNMENT: Final Project
    COURSE: CSc 337; Summer 2021
    PURPOSE: 
*/

#messagesLeft {
    position: absolute;
    top: 100px;
    border-right: 3px solid lightgray;
    height: 80%;
    width: 30%;
}

#messagesRight {
    position: absolute;
    top: 100px;
    left: 33%;
    width: 65%;
    height: 69%;
}

#title {
    display: inline-block;
}

@keyframes gradiant {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#homepageButton {
    text-decoration: none;
    background: radial-gradient(circle, #F58529 0%, #DD2A7B 40%,
        #8134AF 60%, #515BD4 100%);

    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    padding: 10px;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradiant 5s linear infinite alternate;
}

#topNavigationBar {
    padding-top: 10px; 
    margin-right: 25px;
    display: inline-block;
    float: right;
    font-family: sans-serif;
    font-weight: 100;
}

#messagesButton {
    margin-right: 25px;
}

#helpButtonContainer {
    position: relative;
    float: right;
}

#helpButton {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    border: 5px solid darkgray;
    color: white;
    background-color: darkgray;
    border-radius: 25px;
    padding-left: 6px;
    padding-right: 6px;
}

#footer {
    position: fixed;
    top: 90%;
    left: 5%;
    width: 90%;
}

#helpButton:hover {
    border: 5px solid rgb(100, 210, 255);
    background-color: rgb(100, 210, 255);
}

.convoTabs {
    position:relative;
    display:inline-flex;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid lightgray;
    width: 90%;
    overflow: auto;
}

.image-cropper-tab {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.userInfo {
    padding-bottom: 10px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.friendPhoto {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.friendFullName {
    position:absolute;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
    left: 120px;
    top:35px;
    display: inline;
}

#currentChat {
    position: relative;
    width: 100%;
    height: 80%;
    overflow:auto;
}

.firstMessage {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.messageTo {
    margin-left: auto;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #9CD4FF;
    border-radius:10px;
    background-color: #9CD4FF;
    width: fit-content;
    margin-bottom: 10px;
}

.messageFrom {
    margin-right: auto;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius:10px;
    width: fit-content;
    margin-bottom: 10px;
}

#messageEntry {
    position: fixed;
    top : 83%;
    width : 50%;
    height: 7%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius:10px;
}

#sendMessageButton {
    position: fixed;
    top : 85%;
    right: 10%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #9CD4FF;
    border-radius:10px;
    background-color: #9CD4FF;
}

